<h2>Ads</h2>


<table class="table table-responsive">
  <tr>
  <th>Organization
  <th>Ad Size
  <th>Edition
  <th>Ad Details
  </tr>

  Listing all ads:

  <br>
  <br>
  <% @ads.each do |ad| %>
    <td><%= ad.organization.name %>
    <td><%= ad.adsize.ad_name %>
    <td>Edition
    <td><%= link_to ad.text, ad %>
  </tr>
    <% end %>

  </table>

  <h3><%= link_to "New ad", new_ad_path %></h3>



