<h2>Editions</h2>

<ul>
  <% @editions.each do |edition| %>
      <li> 
        <%= link_to edition.issue_date, edition %>, 
        <%= edition.title %>
      </li>
    <% end %>
</ul>

<h3><%= link_to "New Edition", new_edition_path %></h3>

 
