<h2>Users</h2>


<table class="table table-responsive">
    <tr>
    <th>User ID
    <th>User Name
  </tr>

Listing all users:

<br>
<br>

    <% @users.each do |user| %>
        <td><%= user.id %>
        <td><%= user.email %>
  </tr>
    <% end %>

</table>

<h3><%= link_to "New User", new_user_path %></h3>

