<h1>Welcome to North Forty News</h1>
<p>Please follow the links below to our different modules.</p>

<<<<<<< HEAD
<p><%= link_to "Articles", articles_path %> | 
=======
<p><%= link_to "Articles", articles_path %> | <%= link_to "Contacts", contacts_path %></p>
>>>>>>> 1.1
