<h2>Sections</h2>

<ul>
  <% @sections.each do |section| %>
      <li>
        <%= link_to section.title, section %>
      </li>
    <% end %>
</ul>

<h3><%= link_to "New Section", new_section_path %></h3>

