<h2>Section Details</h2>

<p><%= @section.title %><br>
    <%= @section.description %>
    </p>
<%= button_to "Destroy", section_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %><br><br>
<%= link_to "Edit", edit_section_path(@section) %>  |  
